﻿@{
    ViewBag.Title = "Menu Principal";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["userID"] == null)
    {
        Layout = "~/Views/Shared/_Login.cshtml";
        Response.Redirect("~/Login/Index");

    }
    else if (@Session["userRol"].ToString() != "Admin" && Session["userID"] != null)
    {
        Response.Redirect("~/Home/About");
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }



}
<div class="container">
    <div class="col">
        <div class="col-xs-12">
            <div class="main-info">
                <div class="col-xs-4"></div>
                <div class="col-xs-12">
                    <h1>Bienvenido: @Session["userName"].ToString() </h1>
                </div>
            </div>
        </div>
    </div>
</div>


