#w1-detail > header {
	padding: 40px 0;
	background-size: cover;
}

section {
	margin: 20px 0;
}

.detail h2,
.detail h3,
.detail h4 {
	color: #ffffff;
	font-weight: 300;
}

.detail h2 {
	color: #fff;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: 200;
}

.detail h3 {
	font-size: 22px;
	font-size: 2.2rem;
}

.detail h4 {
	margin-bottom: 10px;
	color: #1f1f1f;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
}

.detail dt {
	float:left;
	width: 15%;
}

.detail dd {
	float: left;
	width: 70%;
	padding: 0;
	margin: 0 10% 0 5%;
}


#intro h3 {
	margin: 0 0 20px 0;
	font-size: 26px;
	font-size: 2.6rem;
}

.trainer {
	text-align: center;
}

#trainer-list img {
	display: block;
	margin: 10px auto 0 auto;
}

#trainer-list .trainer + .trainer {
	margin-top: 40px;
}

#trainer-list p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 18px;
	line-height: 1.8rem;
}

.trainer-link {
	margin-right: 20px;
	color: #006CD8;
}

#registration-badge {
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	border: 1px solid #DCE9AF;
	border-radius: 1px;
}

	#registration-badge > .price {
		float: left;
		width: 50%;
		margin: 0;

		color: #666;
		font-size: 60px;
		font-size: 6rem;
		font-weight: 200;
		text-align: right;
	}

	#registration-badge > .included {
		float: left;
		width: 50%;
		padding: 10px 0 0 20px;

		color: #888;
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 18px;
		line-height: 1.8rem;
		font-weight: 400;
		text-align: left;
	}

	#registration-badge > .do-register {
		display: inline-block;
		width: 100%;
		padding: 10px 0;

		color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: 600;
		text-align: center;
		text-decoration: none;

		background-color: #A3D900;
	}

	#registration-badge > .do-register:hover {
		text-decoration: none;
		background-color: #7CA600;
	}

#table-of-contents {
	padding: 10px 0;
	margin-bottom: 0;
	background-color: #EEEEEE;
}

#table-of-contents h3 {
	margin-bottom: 20px;
}

#table-of-contents h4 {
	margin: 0;
	color: #444;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: uppercase;
}

#table-of-contents ul {
	margin: 0 0 15px 0;
}

#table-of-contents li {
	margin-bottom: 0;
	color: #777;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 18px;
	line-height: 1.8rem;
	font-weight: 200;
}

#location-info {
	margin-top: 0;
}



#hotel-info {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.65);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#faq h4 {
	color:#444;
	font-weight: 700;
}

#faq p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 18px;
	line-height: 1.8rem;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	section {
		margin: 40px 0;
	}

	.detail h2 {
		font-size: 48px;
		font-size: 4.8rem;
	}

	.detail h3 {
		font-size: 28px;
		font-size: 2.8rem;
	}

	#intro h3 {
		font-size: 32px;
		font-size: 3.2rem;
	}

	.trainer {
		text-align: left;
	}

	#table-of-contents ul {
		margin: 0 0 40px 0;
	}

	#location-info {
		position: relative;
		height: 300px;
	}

	#map-canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	#hotel-info {
		height: 300px;
	}
}

@media (min-width: 992px) {
	.detail h2 {
		font-size: 56px;
		font-size: 5.6rem;
	}

	.detail h3 {
		font-size: 32px;
		font-size: 3.2rem;
	}

	#intro h3 {
		font-size: 40px;
		font-size: 4rem;
	}
}
