body {
	margin-top: 80px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: url("../Content/img/metal.jpg");
	color: white;
	font-size: large
}

p {
	color: #777;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 16px;
}

ul li {
	margin-bottom: 5px;
}

a {color:#2cea01}


a:hover {color: #2cea01}

/* *************************************
* *************** Header ***************
* ************************************ */
#main-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #333;
	z-index: 100;
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";
	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
	
}

#main-logo {

	height: 15px;
	padding: 6px 14px 16px 15px;
	background-color: #333;

}

#main-logo2 {
	width: 85%;
	padding: 4px 30 25 85px;
	margin: 0;
}

#main-logo > a {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}

#main-logo > a > span {
	display: block;
	color: #DFFFBF;
	font-size: 13px;

}

/* *************************************
* *********** Main Navigation **********
* ************************************ */
#main-menu {
	width: 10%;
	float: right;
	margin-top: 10px;
	font-size: 13px;
}

#main-menu a {
	color: #fff;
	font-size: 18px;
}

#main-menu a:hover {
	color: #2cea01;
}

#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover {
	background: none;
}

#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus {
	color: #999;


}

#main-menu.nav .open>a,
#main-menu.nav .open>a:hover,
#main-menu.nav .open>a:focus {
	background: none;
}


/* *************************************
* *************** Footer ***************
* ************************************ */


footer li, footer li:hover {
	color: #fff;
	font-weight: 300;
}

footer h3 {
	margin-top: 30px;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	text-transform: uppercase;
}

footer p {
	color: #ddd;
	font-weight: 200;
}

#main-footer {
	width: 100%;
	height: 20%;
	background-color: #333;


}

#next-workshops a {
	color: #0fbff2;
	text-decoration: none;
}

#next-workshops a:hover {
	color: #fff;
	text-decoration: none;
}

#footfin p {
	text-align: center;
	color: #151515;
	font-size: 20px;

}
/* *************************************
* *************** Generales ************
* ************************************ */
.btn-custom {
	border: 0;
	border-radius: 2px;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
}
