﻿@model Proyecto.Models.Usuario

@{
    ViewBag.Title = "ERP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else if (@Session["userRol"].ToString() != "Admin" & Session["userID"] != null)
    {
        Response.Redirect("~/Home/About");
    }

}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Inicio")
</p>
