﻿@model  Proyecto.Models.Usuario
@{

	ViewBag.Title = "Inicio";
	Layout = "~/Views/Shared/_Login.cshtml";
	
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
	<style>
		.field-validation-error {
			color: red;
		}
	</style>
</head>
<body>

	<div id="workshop-list">
		<article id="w1" class="workshop workshop-left">

			<div class="container container-rest">

				<div class="row">
					<div class="main">
						@using (Html.BeginForm("Autorizar", "Login", FormMethod.Post))
						{
							<div class="form-group">
								@Html.LabelFor(model => model.Nombre_Usuario)
								@Html.EditorFor(model => model.Nombre_Usuario, new { htmlAttributes = new { @class = "form-control" } })
							</div>
							@Html.ValidationMessageFor(model => model.Nombre_Usuario)
							<div class="form-group">
								@Html.LabelFor(model => model.Contrasena)
								@Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control" } })
							</div>
							@Html.ValidationMessageFor(model => model.Contrasena)
							<div class="form-group">
								<input type="submit" name="login" value="Iniciar Sessión" />
								<input type="reset" name="login" value="Cancelar" />
							</div>
							<br>
							<br>
							<label class="field-validation-error">@Html.DisplayFor(model => model.Error)</label>
							@Html.ActionLink("Registrarse", "Agregar", "Login")
						}
					</div>
				</div>
			</div>
		</article>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
