﻿@model IEnumerable<Proyecto.Models.Usuario>

@{
    ViewBag.Title = "ERP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else if (@Session["userRol"].ToString() != "Admin" & @Session["userID"] != null)
    {
        Response.Redirect("~/Home/About");
    }
}

<h2>Usuario</h2>

<p>
    @Html.ActionLink("Agregar Usuario", "AgregarAdm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol_Usuario)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol_Usuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "cElimina" })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(".cElimina").click(function (event) {
            if (!confirm("Esta seguro que desea eliminar ??")) {
                event.preventDefault();
            }
        });
    </script>
}
