﻿@model IEnumerable<Proyecto.Models.Contacto>
@{
    ViewBag.Title = "ERP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else if (@Session["userRol"].ToString() != "Admin" & Session["userID"] != null)
    {
        Response.Redirect("~/Home/About");
    }
    

}
<h2>Contacto</h2>
<p>
    @Html.ActionLink("Crear Nuevo Contacto", "Agregar")

</p>
<br>
<br>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo_Electronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puesto)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Proyecto.Controllers.ContactoController.NombreCliente(item.Id_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo_Electronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "cElimina" })
            </td>
        </tr>
    }
</table>
@section scripts{
    <script>
        $(".cElimina").click(function (event) {
            if (!confirm("Esta seguro que desea eliminar ??")) {
                event.preventDefault();
            }
        });
    </script>
}