﻿@model IEnumerable<Proyecto.Models.Cliente>
@{
    ViewBag.Title = "ERP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else if (@Session["userRol"].ToString() != "Admin" & Session["userID"] != null)
    {
        Response.Redirect("~/Home/About");
    }
    

}
<h2>Listado de Clientes</h2>

@Html.ActionLink("Crear Nuevo Cliente", "Agregar")

<table class="table table-bordered">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ced_Juridica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pag_Web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ced_Juridica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pag_Web)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.id })  |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id }, new { @class = "cElimina" })
            </td>
        </tr>
    }
</table>
@section scripts{
    <script>
        $(".cElimina").click(function (event) {
            if (!confirm("Esta seguro que desea eliminar ??")) {
                event.preventDefault();
            }
        });
    </script>
}
