﻿@model Proyecto.Models.Tickets

@{
    ViewBag.Title = "Detalles";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    else if (@Session["userRol"].ToString() != "Admin" && Session["userID"] != null)
    {
        Response.Redirect("~/Home/About");
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Detalles</h2>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo_Problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo_Problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reporta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reporta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoActual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
