﻿@model IEnumerable<Proyecto.Models.Cliente>
<select class="form-control" id="Cliente" name="Cliente">
	//razor implementa tanto codigo html como codigo del servidor
	//con arroba utilizamos codigo servidor
	@foreach (var item in Model)
	{
		<option value="@item.id">@item.Nombre</option>
	}
</select>