﻿@model Proyecto.Models.Reunion
@{
    ViewBag.Title = "Detalles";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }else if (@Session["userRol"].ToString() != "Admin" && Session["userID"] != null )
    {
        Response.Redirect("~/Home/About");
    }else{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Detalles</h2>
<div>
    <h4>Reunion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo_Reunion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo_Reunion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>
        <dd>
            @Proyecto.Controllers.ReunionController.NombreUsuario(Model.Id_Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Virtual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Virtual)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
