﻿@model IEnumerable<Proyecto.Models.Reunion>



    @{
        ViewBag.Title = "Reuniones";
        if (Session["userID"] == null)
        {
            Response.Redirect("~/Login/Index");
        }
        else if (@Session["userRol"].ToString() != "Admin" && Session["userID"] != null)
        {
            Response.Redirect("~/Home/About");
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }


<h2>Reuniones</h2>

<p>
    @Html.ActionLink("Agregar Nueva Reunión", "Agregar")
</p>

@using (Html.BeginForm("Buscar", "Reunion", FormMethod.Get))
{
    <p white>
        Término a buscar: @Html.TextBox("palabra")
        <input type="submit" value="Buscar" class="btn btn-default" />
    </p>
}


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo_Reunion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Virtual)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo_Reunion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Hora)
            </td>
            <td>
                @Proyecto.Controllers.ReunionController.NombreUsuario(item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Virtual)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "cElimina" })
            </td>
        </tr>
    }
</table>
@section scripts{
    <script>
        $(".cElimina").click(function (event) {
            if (!confirm("Esta seguro que desea eliminar ??")) {
                event.preventDefault();
            }
        });
    </script>
}