﻿@model IEnumerable<Proyecto.Models.Usuarios>
<select class="form-control" id="Id_Usuario" name="Id_Usuario">
	//razor implementa tanto codigo html como codigo del servidor
	//con arroba utilizamos codigo servidor
	@foreach (var item in Model)
	{
		<option value="@item.Id">@item.Nombre_Usuario</option>
	}
</select>
	
