﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Login</title>
	@Styles.Render("~/Content/main.css")
	@Styles.Render("~/Content/workshops2.css")
	@Styles.Render("~/Content/style.css")

</head>
<body>
	<header id="main-header">
		<div class="row">
			<div class="col-xs-4">
				<h1 id="main-logo">@Html.ActionLink("E.R.P", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</h1>
			</div>
			<div class="col-xs-12">
				<ul id="main-menu" class="nav nav-pilss hidden-xs">
					<li>@Html.ActionLink("Inicia Sessión", "Index", "Login")</li>
				</ul>
			</div>
		</div>
		<div class="container body-content">
			@RenderBody()
		</div>
	</header>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>